.community-card-body {
width:100px;
height:200px;

}

.community-card {
    color: #000;
    border-radius: 15px;
    height: 450px;
    margin: 0 20px 20px 20px;
    border: 1px solid #000;
}

.community-card img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 180px;
}

.community-card-btn {
    margin: 20px 30px;
    height: 40px;
    align-items: center;
}

.community-edit img {
      height:30px;

}


.community-delete img {
    height:30px;
  
}






