.game-main-btn {
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.game-main-btn .btn {
    opacity: 0.6;
}

.game-main-btn .btn:hover {
    transform: scale(1.2);
    z-index: 9999;
    border-radius: 15px 15px 15px 15px;
    opacity:1;
}

/* ALL */
.game-main-btn img {
    height: 200px;
    width:350px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}


/* BTN 1 */
.game-main-btn .btn-1 {
    width: 350px;
    border: none;
    border-radius: 0 0 15px 15px;
    background-color: rgb(156, 199, 2);
    margin-bottom:20px;
    font-size: 1.7em;
}



.game-main-btn .btn-2 {
    width: 350px;
    border: none;
    border-radius: 0 0 15px 15px;
    background-color: rgb(0, 202, 185);
    margin-bottom:20px;
    font-size: 1.7em;
}

.game-main-btn .btn-3 {
    width: 350px;
    border: none;
    border-radius: 0 0 15px 15px;
    background-color: rgb(209, 66, 0);
    margin-bottom:20px;
    font-size: 1.7em;
}
