.navbar-toggle {
    background-color: #fff;
}

.links {
    padding: 0 5px;
    border-top: 2px solid rgb(124, 36, 36);
    text-decoration: none;
}

.logout {
color:rgb(255, 255, 255);
}

.link-profile {
    font-family: 'Share Tech Mono', sans-serif;
    color: green;
}

img {
    width:20px;
    height:100%;
    object-fit: cover;
    
}

