/* GAME-CARD*/
.game-card {
    height: 100px;
    width: 150px;
    padding: 0;
    font-size: 0.6em;
    margin-bottom: 50px;
    border:1px solid rgb(88, 55, 55);
}
.game-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.game-card p {
    font-size: 1.1em;
    margin-top: 5px
}


/* GAME-LIST*/
.left {
    height: 70px;
   width: 40px;
    position:fixed;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    z-index:999;
    top:50%;
    border: none;
    border-radius: 15px 0 0 15px;
    background-color: rgb(70, 70, 70);
} 
.right {
    height:70px;
    width: 40px;
    position:fixed;
    right: 0;
    margin-right: 10px;
     z-index:999;
    top:50%;
    border: none;
    border-radius: 0 15px 15px 0;
        background-color: rgb(70, 70, 70);
}

.search-area {
    background-color: rgb(26, 26, 26);
    border-radius: 15px 15px 0 0;
    padding:20px;
}

/* SEARCH-FORM */
.search-form {
    width: 70%;
}

.allGames-back span {
    border: 1px solid #fff;
    text-decoration: none;
    background-color: rgb(70, 70, 70);
}



